html {
  height: 100%;
}

body {
	width: 100%;
	 min-height: 100%;
    background-image: url(../resource/bg2.jpg);
     background-size:     cover;                      /* <------ */
    background-repeat:   repeat;
    background-position: center center;              /* optional, center the image */
    
}
.navbar_text{
	color:white;
}
.navbar{
	background-color: rgba(0,0,0, 0.7);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);	
}
#home{
	margin-left: 200px;
}

#divv{
	height: 100%;
	width: 80%;
	background-color: white;
	margin: auto;
	position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    margin-top: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);	
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}


input,textarea{
	border: 1px solid grey;
	padding: 7px;
	
	text-align: center;
	width: 80%;
}

